
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  /* padding: 2rem; */
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom styles */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #EAFCF1;
  /* background: linear-gradient(to right, #642B73, #C6426E); */
}

a {
  color: #00B7FF;
  text-decoration: none;
}
.container {
  max-width: 1820px;
  width: 100%;
  margin: auto;
  /* border: 1px solid black; */
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-25 {
  flex: 0 1 25%;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-70 {
  flex : 0 1 70%;
}
.flex-28 {
  flex: 0 1 28%;
}

.wrap {
  flex-wrap: wrap;
}
/* Header section */
.logo {
  font-size: 3rem;
  font-weight: bold;
  width: 60%;
}
.btn {
  background-color: crimson;
  color: #ffffff;
  font-size: 1.3rem;
  color: #ffffff;
  border: 0;
  outline: 0;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  border-radius: 6px;
  /* margin-top: 3rem; */
  cursor: pointer;
}
.header {
  padding: 0.6rem;
}
.header_section {
  background-color: #2A293E;
}
.image {
  width: 32%;
  margin-top: 2rem;
}
.heading {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
}
.about_heading {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  margin-top: 2rem;
}
.about_p {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-top: 2rem;
}
.footer_section {
  background-color: rgba(0, 0, 0, 0.801);
  text-align: center;
  padding: 2rem;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.836);
  margin-top: 3rem;
}

/* Form */
.form {
  width: 40%;
  background-color: #ffffff;
  text-align: center;
  padding: 2rem;
  margin: 40px auto;
  box-shadow: -2px -2px 6px gray, 2px 2px 6px gray;
}
.form input, .form textarea {
  width: 95%;
  height: 45px;
  padding: 0 1rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  outline: 0;
  border: 1px solid rgba(128, 128, 128, 0.534);
}
.form_heading {
  font-size: 1.5rem;
  /* color: purple; */
}
.form_btn {
  margin-top: 3rem;
  background-color: #52A74B;
}
.form input:focus, .form textarea:focus {
  border: 2px solid #00B7FF;
}
.form textarea {
  height: 100px;
  padding: 1rem;
}

/* Aside */
.aside {
  box-shadow: -2px -2px 6px gray, 2px 2px 6px gray;
  margin-top: 2rem;
  padding: 1rem;
}
.categories_heading {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

/* Events */
.events_section {
  margin-top: 2rem;
  /* border: 1px solid red; */
}
.main_section .flex{
  align-items: unset;
}
.event_single {
  box-shadow: -2px -2px 6px gray, 2px 2px 6px gray;
  margin-bottom: 1.5rem;
  padding: 1rem;
} 
.title {
  font-size: 1.8rem;
  font-weight: 600;
  color: crimson;
}
.event_list {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
}
.summary {
  line-height: 1.5;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.view_event_btn {
  background-color: #52A74B;
  margin-top: 1rem;
}
.host {
  font-size: 1.8rem;
  color: teal;
  margin-top: 1rem;
  font-weight: bold;
}
.summary_new {
  font-size: 1.3rem;
}
.start_date, .end_date {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.category {
  font-size: 1.6rem;
  color: #52A74B;
  margin-top: 1rem;
}
.location {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.edit_event_btn {
  background-color: #52A74B;
}
.delete_event_btn, .edit_event_btn {
  margin-top: 1rem;
}
.delete_event_btn {
  margin-left: 1rem;
}
.likes, .dislikes {
  font-size: 2rem;
  color: white;
  padding: 0.5rem;
}
.likes:hover, .dislikes:hover {
  background-color:#52A74B;
}
.events_section .flex {
  justify-content: unset;
}
.likes {
  background-color:#3494E6;
}
.dislikes {
  background-color: #EC6EAD;
  margin-left: 1rem;
}
.likes_value {
  margin-left: 0.5rem;
}
.dislikes_value {
  margin-left: 2rem;
}
.likes_value, .dislikes_value {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.likes_div {
  margin-top: 1rem;
}
.form_section {
  width: 30%;
  margin-top: 1rem;
  text-align: center;
  /* padding: 1rem; */
}
.form_section input, .form_section textarea {
  display: block;
  width: 90%;
  font-size: 1.2rem;
  padding: 0rem 1.5rem;
  margin-top: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.534);
  outline: 0;

}
.form_section textarea {
  height: 50px;
  padding: 1rem 1.5rem;
}
.form_section input {
  height: 40px;
}
.remark_btn {
  margin-top: 1rem;
  background-color: teal;
}
.remark_form textarea:focus, .remark_form input:focus{
  border: 1px solid #52A74B;
}
.remark_section{
  box-shadow: -2px -2px 6px gray, 2px 2px 6px gray;
  margin: 1rem;
  padding: 1rem;
}
.text {
  font-size:1.3rem ;
}
.remark_section_total .flex {
  justify-content: unset;
}
.author {
  font-size: 1.2rem;
  color: crimson;
  margin-top: 1rem;
}
.edit_remark_btn {
  background-color: darkmagenta;
}
.delete_remark_btn {
  background-color: darkred;
}
.edit_remark_btn, .delete_remark_btn {
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
}

.line {
  border: 1px solid rgba(128, 128, 128, 0.486);
  width: 80%;
  margin: 1rem auto;
}
.category_btn {
  background-color: #2A293E;
  margin: 1rem auto;
}
.category_heading_new {
  color: crimson;
}
.location_btn {
  background-color: #0077F7;
}
main {
  padding: 2rem;
}
