<!DOCTYPE html>
<html>

<head>
    <title>
        Footer
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <footer class="footer_section">
        <div class="container">
            <div class="footer">
                <small>&copy; sohail Events.Inc 2021</small>
            </div>
        </div>
    </footer>
</body>

</html>